extends layout

block content

  .container
    h1 CHK FGTS/AUX - v1.0
    p Coded by Paulão(
      a(href="https://t.me/Paulera6") @Paulera6
      |) 
      | Copia não comédia!
      small  Seja solidário, pague uma farinha para o desenvolvedor!
    .row
      .col-sm-6
        input(type="text", name="2cap", class="form-control", placeholder="2 Captcha API KEY")
        br
        textarea.form-control#data(style="height: 15em;", placeholder="CPF:SENHA um por linha...")
        br
        button.btn.btn-light.stats.btn-block(type='button')
          spas.chkng  Checando 
          span.badge.badge-light.cur-cap -:-  
        br    
        br    
        a.btn.btn-success.btn-block.chk chk
        div.load(style="display:none")
          .spinner-border.text-info(role='status')
            span.sr-only Loading...

      .col-sm-6
        button.btn.btn-light.stats(type='button')
          span.chkd  Checadas 
          span.badge.badge-light.chkd-cap 0 de 0

          span.rep  Reprovadas 
          span.badge.badge-danger.rep-cap 0

          span.apr  Aprovadas 
          span.badge.badge-success.apr-cap 0 

          span.apr  -  2cap 
          span.badge.badge-success.2cap U$ 0                    

        br
        br

        nav
          #nav-tab.nav.nav-tabs(role='tablist')
            a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') Aprovadas
            a#nav-profile-tab.nav-item.nav-link(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') Reprovadas
            a#nav-contact-tab.nav-item.nav-link(data-toggle='tab' href='#nav-contact' role='tab' aria-controls='nav-contact' aria-selected='false') Mais
        #nav-tabContent.tab-content
          #nav-home.tab-pane.fade.show.active.aprov(role='tabpanel' aria-labelledby='nav-home-tab') 


          #nav-profile.tab-pane.fade.repro(role='tabpanel' aria-labelledby='nav-profile-tab') 
          
          #nav-contact.tab-pane.fade.more(role='tabpanel' aria-labelledby='nav-contact-tab') 
    hr
          

        