

button.btn.btn-light.stats {
    background: #e8e8e8;
}
button.btn.btn-light.stats.btn-block {
    text-align: left;
}
.stats{
	display: 	none;
}

.load{
	text-align: 	center;
}
.good{
	color: #28a745;
	font-weight: bold;
}